target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
**/node_modules/
**/dist/
**/.idea/
**/*.iml
.DS_Store
*.log
*.log.*
npm-debug.log
yarn-error.log
application.log
build.log
build_manual.log
application.properties
README.md
